p {
    color:green;
}

h1{

    background-color:purple;
}

body{

    background-color:rosybrown;
}

.loud_text{
    background-color: slateblue;
    text-align: center;
    color:black;
}

 #Scary_Cat{

        background-color:palevioletred;

 }
